.logo-container {
  text-align: center;
  margin-top: 50px;
}

.logo-container img {
  width: 150px;
  height: auto;
}

.logo-container h1 {
  color: var(--ion-color-primary);
  font-size: 24px;
  margin-top: 10px;
}
